
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(right,green,silver)
}

.left{
    
   min-width: 33.06%;
    float: left;
    background: #64e986;
    padding-bottom: 19%;
    padding-top: 25%;
    
    
}
.right{
    min-width: 65.1%;
    float: right;
    background: #2c3539;
    height: 600px;
    padding-left: 20px;
}
.textfield{
    
    height: 20pt;
    margin-right: 10pt;
    margin-top: 10%;
    margin-left: 10px;
    font-size: 13px;
    font-style: italic;
    min-width: 30%;
}
.button{
    min-width: 15%;
    height: 20pt;
    background: #dc3817;
    color: #ffffff;
    border: none;
}
.box{
    margin-top: 2%;
    margin-left:7%;
    margin-right: 7%;
    height: 100%;
    box-shadow:black;
}

.label{
    color: #64e986;
    margin-left: 15px;
}
.data{
    color: #ffffff;
    margin-left: 10px;
}
.display-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10%;
    
}